@use '../base' as *;

.section{
  &__booking {
    padding: 110px 0;
    background-color: $blue;
    &--title {
      max-width: 750px;
      text-align: center;
      margin: auto;
      color: $primary;
    }
    &--description {
      margin: 10px auto 0;
      text-align: center;
      max-width: 550px;
      color: $white;
    }
  }
  &__benefits {
    padding: 80px 0;
    background-color: rgb(250, 249, 248);
    &--title {
      max-width: 850px;
      margin: auto;
      text-align: center;
    }
    &--content {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 30px;
      margin-top: 42px;
    }
  }
  &__services {
    padding: 80px 0;
    &--title {
      max-width: 850px;
      margin: auto;
      text-align: center;
    }
    &--content {
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-top: 42px;
    }
  }
}