@use '../base' as *;

.section{
  &__booking {
    padding: 110px 0;
    background-color: $blue;
    &--title {
      max-width: 750px;
      text-align: center;
      margin: auto;
      color: $primary;
    }
    &--description {
      margin: 10px auto 0;
      text-align: center;
      max-width: 550px;
      color: $white;
    }
  }
}